.first-sec {
  padding-bottom: 40px;
  padding-top: 60px;
  // height: 100vh;


}

.first-box__btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  padding: 9px 0 7px;
  width: 529px;
  text-transform: uppercase;
  background: #E31B1B;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px;
  color: #FFFFFF;
  margin-bottom: 34px;
  transition: all .4s;
  animation: animate_pulse 1s infinite;

  &:hover {
    transform: translateY(-5%) scale(1.05);
    filter: drop-shadow(2px 5px 6px rgba(0, 0, 0, 0.25));
  }
}

.first-box {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.main-image {
  position: absolute;
  left: -269px;
  top: -93px;
  z-index: -1;
}

.first-box__links {
  display: flex;
  align-items: center;
  span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #323232;
    margin: 0 26px;
  }
}

.first-box__link {
  transition: .3s;

  &:hover {
    transform: scale(1.05);
    filter: drop-shadow(2px 5px 6px rgba(0, 0, 0, 0.25));
  }
}

.second-image {
  margin-bottom: 54px;
  margin-right: -40px;
  animation: animate_slogan 2s ease infinite;
}

.first-box__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 645px;
  position: relative;
  z-index: 2;
  margin-top: -30px;
}

.first-box__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
}

.images-box {
  display: flex;
  position: absolute;
  left: 28px;
  bottom: -45px;;
  min-height: 259px;
  align-items: flex-end;
}

.images-box {

  // .scaleX {
  //   animation: scaleX 2s ease infinite;
  // }

  // .scaleY {
  //   animation: scaleY 5s ease infinite;
  // }

  .round-wrapp {
    width: 128px;
    height: 128px;
    opacity: 0.00;
    position: relative;
    transition: .35s;
    transform: translateY(-100%);

    // z-index: 4;

    &::after {
      background: transparent;
    }

    &--visible {
      opacity: 1.00;
      transform: translateY(0);
      box-shadow: -4px -5px 0 0 #fc5000, 0px 10px 13px 4px rgba(63, 47, 47, 0.43);
    }


    // img {
    //   width: 50%;
    // }

    &:not(:first-child) {
      margin-left: 5px;
    }

    &::after {
      top: -4px;
      left: -4px;
    }
    &:nth-child(2) {
      margin-bottom: 70px;
    }

    &:nth-child(3) {
      margin-bottom: 115px;
    }
    &:nth-child(4) {
      align-self: flex-start;
      margin-left: 7px;
    }
  }
}

.next-page {
  margin: 70px auto 0;
  display: flex;
  max-width: 50px;
  transition: .4s;
  svg {
    fill: none;
  }

  &:hover {
    transform: translateY(20%) scale(1.05);
    filter: drop-shadow(2px 5px 6px rgba(0, 0, 0, 0.25));
  }
}

.next-page--third {
  margin-top: 200px;
}
