.header-top {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  .hader-link:not(:first-child) {
    margin-top: 21px;
  }
}


header {
  position: relative;
  z-index: 10;
}

.header-menu__link {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}

.header {
  position: relative;
}

.header-menu {
  transition: all .4s;
  max-width: 529px;
  background: rgba(0, 0, 0, 0.6);
  mix-blend-mode: normal;
  border: 3px solid #6D6E6F;
  border-radius: 20px;
  padding: 100px 42px;
  position: absolute;
  backdrop-filter: blur(6px);
  top: 70px;
  right: -15px;
  z-index: -1;
  opacity: 0;
  transform: translateY(-20%);

  .close {
    position: absolute;
    top: 5px;
    right: 13px;
  }

  &--active {
    z-index: 10;
    opacity: 1;
    transform: translateY(0);
  }
}

.header-menu__item {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #FFD60B;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  &:not(:first-child) {
    margin-top: 28px;
  }
}




