@media (min-width: 992px) and (max-width: 1199px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }


  .container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .round-wrapp {
    height: 230px;
    width: 230px;

    svg {
      width: 230px;
      height: 230px;
    }

    &:last-child {
      svg {
        width: 464px;
        height: 443px;
        top: -108px;
      }
    }
  }

  .first-sec {
    padding-top: 15px;
  }

  .third-sec {
    padding-top: 0;
  }

  .main-image {
    top: initial;
    bottom: -33%;
  }

  .images-box {
    left: 0%;
    bottom: -35%;
  }

  .second-image {
    margin-bottom: 20px;
    margin-right: -14px;
  }

  .header-top {
    padding-top: 35px;
  }




}

@media (min-width: 768px) and (max-width: 991px) {
  html,
  body,
  section {
    width: 100%;
    overflow-x: hidden;
  }


  .container {
    max-width: 992px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .burger-btn {
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .images-box {
    display: none;
  }

  .first-box {
    flex-direction: column-reverse;
    padding-top: 40px;
  }

  .first-box__inner {
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .second-image {
    margin: 0;
  }

  .first-box__btn {
    width: 100%;
  }

  .first-box__info {
    width: 100%;
    margin-bottom: 300px;
  }

  .full-page {
    height: auto;
  }

  .main-image {
    position: absolute;
    left: -21%;
    top: initial;
    z-index: -1;
    width: 241%;
    bottom: 0;

    img {
      width: 65%;
    }
  }

  .next-page {
    display:none;
  }

  .main-title {
    font-size: 38px;
    line-height: 32px;
    height: 60px;
  }

  .main-top {
    height: auto;
    .main-top__link {
      align-self: center;
    }
  }

  .main-top__title {
    max-width: 67%;
  }


  .second-sec {
    height: auto;
    min-height: auto;
    padding-top: 0;
    padding-bottom: 50px;
    background-image: url(../../img/second-mobile.svg);
    background-size: contain;
    background-position: left 20px;
  }

  .round-box {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    grid-gap: 100px 70px;
  }

  .header-menu {
    top: 5px;
    right: 0;
  }

  .third-sec {
    padding-top: 0;
    background-image: url(../../img/third-mobile.svg);
    background-size: contain;
    background-position: center bottom;
  }

  .main-top--third {
    .main-top__title {
      max-width: 73%;
      height: initial;
    }
  }








}


@media (min-width: 576px) and (max-width: 767px) {
  body,
  html,
  section {
    width: 100%;
    overflow-x: hidden;
  }

  .container {
    max-width: 767px;
    margin: 0 auto;
    padding: 0 10px;
  }


  .burger-btn {
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .images-box {
    display: none;
  }

  .first-box {
    flex-direction: column-reverse;
    padding-top: 40px;
  }

  .first-box__inner {
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .second-image {
    margin: 0;
  }

  .first-box__btn {
    width: 100%;
  }

  .first-box__info {
    width: 100%;
    margin-bottom: 300px;
  }

  .full-page {
    height: auto;
  }

  .main-image {
    position: absolute;
    left: -242px;
    top: initial;
    z-index: -1;
    width: 236%;
    bottom: 0;
  }

  .next-page {
    display:none;
  }

  .main-title {
    font-size: 38px;
    line-height: 32px;
    height: 60px;
  }

  .main-top {
    height: auto;
    margin-bottom: 65px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    .main-top__link {
      align-self: center;
      margin-top: 10px;
    }
  }


  .second-sec {
    height: auto;
    min-height: auto;
    padding-top: 0;
    padding-bottom: 50px;
    background-image: url(../../img/second-mobile.svg);
    background-size: 100% 100%;
    background-position: center;
  }

  .round-box {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    grid-gap: 100px 20px;
  }

  .header-menu {
    top: 5px;
    right: 0;
  }

  .third-sec {
    padding-top: 0;
    background-image: url(../../img/third-mobile.svg);
    background-size: contain;
    background-position: center bottom;
  }


}


@media (min-width: 320px) and (max-width: 575px) {
  body,
  html {
    width: 100%;
    overflow-x: hidden;
  }

  .container {
    max-width: 575px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .burger-btn {
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .images-box {
    display: none;
  }

  .first-box {
    flex-direction: column-reverse;
    padding-top: 40px;
  }

  .first-box__inner {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .second-image {
    margin: 0;
  }

  .first-box__btn {
    width: 100%;
  }

  .first-box__info {
    width: 100%;
    margin-bottom: 300px;
  }

  .first-box__btn {
    font-size: 26px;
    line-height: 35px;
  }

  .full-page {
    height: auto;
  }

  .main-image {
    position: absolute;
    left: -47%;
    top: initial;
    z-index: -1;
    width: 236%;
    bottom: 0;
  }

  .next-page {
    display:none;
  }

  .main-title {
    font-size: 22px;
    line-height: 32px;
    height: 42px;
  }

  .main-top {
    height: auto;
    margin-bottom: 65px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    .main-top__link {
      align-self: center;
      margin-top: 10px;
    }
  }


  .second-sec {
    height: auto;
    min-height: auto;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .round-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
  }

  .round-wrapp {
    margin-bottom: 100px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .header-menu {
    top: 5px;
    right: 0;
    padding: 50px 30px;
  }

  .header-menu__link {
    font-size: 21px;
    line-height: 25px;
  }

  .modal {
    padding: 20px 5px;
  }

  .modal-form__title {
    margin-bottom: 0;
    font-size: 30px;
    line-height: 40px;
  }

  .modal-form__btn {
    width: 100%;
  }

  .modal-form input {
    &::placeholder {
      font-size: 16px;
    }
  }


  .custom-checkbox>span, .custom-checkbox>span a {
    font-size: 16px;
    line-height: 16px;
  }

  .close-btn {
    top: -13px;
    right: 1px;
  }








}

