.third-sec {
  padding-top: 62px;
  padding-bottom: 140px;

  background-image: url(../../img/third-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
